<section class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
        <h1>Bienvenido Admin</h1>
    </div>
    <div class="col-xs-12">
        <!--TABS HERE-->
        <div class="col-xs-12 col-md-6">
            <h2>Lista de Artículos</h2>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero dolorem accusamus autem temporibus facere dicta iste aspernatur sunt aliquam enim repudiandae unde ab, ipsam blanditiis natus quo ullam cumque nulla.
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <h2>Añadir nuevo Artículo </h2>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio mollitia enim delectus, error officia quibusdam quasi repudiandae totam, hic voluptatem eligendi aliquid optio quaerat voluptas tempora nihil consequatur rerum id!
            </div>
        </div>
        
    </div>
</section>